{% extends "base.twig" %}
{% block body %}
    <h1>Tout mes articles</h1>
    <div class="container-custom">
    {% for post in posts %}
            <div class="container-posts">
                <div class="title-posts">{{post.title}}</div>
                <div class="body-posts">{{post.body}}</div>
                <a href="/blog/{{post.id}}" class="btn btn-light">En savoir plus</a>
            </div>
    {% endfor %}
    </div>
{% endblock %}